@use "reset";
@use "themes/dark";
@use "themes/light";
@use "variables/global";

html,
body,
#root,
.app {
  height: 100%;
}

body {
  font: var(--font-md);
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.content {
  display: grid;
  grid-template-columns: auto 1fr;
  height: calc(100dvh - var(--navbar-height));
}

.content-wrapper {
  height: 100%;
  overflow: auto;
  padding: 20px;
  padding-bottom: 60px;
}
