@use "reset";
@use "themes/dark";
@use "themes/light";
@use "variables/global";

.app {
  min-height: 100dvh;
  font: var(--font-md);
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.content {
  display: flex;
  height: calc(100dvh - var(--navbar-height));
}

.content-wrapper {
  flex: 1;
  padding: 20px;
}
