* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  font: inherit;
  color: inherit;
  border: 0;
  background-color: transparent;
}
