.modal {
  position: fixed;
  inset: 0;
  display: none;
}

.open {
  display: block;
}

.overlay {
  background-color: var(--overlay-color);
  padding: 20px;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bg-color);
  max-width: 100%;
  max-height: 100%;
}
