.button {
  margin: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: var(--inverted-primary-color);
}

.clear {
  background-color: transparent;
}

.outline {
  background-color: transparent;
  border: 1px solid var(--inverted-primary-color);
}

.filled {
  background-color: var(--inverted-bg-color);
}

.sm {
  padding: 2px 5px;
  font-size: var(--font-size-sm);
}

.md {
  padding: 5px 10px;
  font-size: var(--font-size-md);
}

.lg {
  padding: 8px 14px;
  font-size: var(--font-size-lg);
}

.xl {
  padding: 12px 16px;
  font-size: var(--font-size-xl);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
