.sidebar {
  background-color: var(--inverted-bg-color);
  width: var(--sidebar-width);
  position: relative;
  padding: 10px 20px;
}

.switchers {
  flex-wrap: wrap;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  padding: 10px;
}

.collapse-btn {
  right: -10px;
  bottom: 10px;
  transform: translateX(100%);
  position: absolute;
  z-index: 1;
}
