.app.dark {
  --bg-color: #0c2363;
  --inverted-bg-color: #cacfdb;
  --primary-color: #32b817;
  --secondary-color: #238310;
  --inverted-primary-color: #257a14;
  --inverted-secondary-color: #1b530f;
}
