:root:not(.dark) {
  --bg-color: #cacfdb;
  --inverted-bg-color: #0c2363;
  --primary-color: #257a14;
  --secondary-color: #1b530f;
  --inverted-primary-color: #32b817;
  --inverted-secondary-color: #238310;
  --skeleton-bg-color: #b1b3bd;
  --code-bg-color: #eeeef5;
}
