.profile-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid var(--primary-color);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatar {
  display: flex;
  justify-content: center;
}

.loading {
  height: 512px;
}
