.app-link {
  text-decoration: none;
  color: var(--inverted-primary-color);
}

.primary {
  color: var(--inverted-primary-color);
}

.secondary {
  color: var(--inverted-secondary-color);
}

.outline {
  border: 1px solid var(--inverted-primary-color);
  padding: 10px;
}
